body {
  margin: 0;
  padding: 0;
  background-color: rgb(15, 141, 190);
  display: flex;
  justify-content: center;
  /* centra la seccion en el centro*/
  align-items: center;
  /* como queremos centrarla*/
  min-height: 100vh;
}

.contacto-section {
  display: flex;
  flex-direction: column;
  /* como queremos que se disponga*/
  align-items: center;
  justify-content: center;
}

.contacto-person {
  /* disponemos : foto + info */
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  width: 400px;

}

.contacto-image img {
  width: 110px;
  height: 100px;
  border-radius: 50%;
  margin-right: 15px;
}

.info-contacto {
  width: auto;
  padding: 5px;
  margin-left: 20px;

}

.info-contacto p {}

.nombre {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 2px;
}

.direction {
  color: rgb(131, 131, 131);
  font-size: 18px;
  margin-top: 3.5px;
}