* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 60px); 
    gap: 5px;
    border: 2px solid gray;
    width: 800px; 
}
.grid-container div {
    background-color: #E91E62;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#january {
    grid-column: 1 / 4;
}

#february {
    grid-column: 4 / 7;
}

#march {
    grid-column: 1 / 3;
}

#april {
    grid-column: 3 / 4;
}

#may {
    grid-column: 4 / 6;
    grid-row: 2 / 4;

}

#june {
    grid-column: 6 / 7;
    grid-row: 2 / 4;
}

#july {
    grid-column: 1 / 3;
}

#august {
    grid-column: 3 / 4;
}

#september {
    grid-column: 1 / 3;
}

#october {
    grid-column: 3 / 5;
}

#november {
    grid-column: 5 / 7;
}

#december {
    grid-column: 1 / 7;
}